<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<dom-module id="user-menu">
    
    <style>
        #main{
            word-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
    
        #expand {
            margin: 0 auto;
        }
        
        .purple{
            background-color: var(--paper-indigo-500);
            
        }
        .button{
            color: white;
            
        }
        .purp{
            @apply(--paper-font-common-base);
            --accent-color: var(--paper-indigo-500);
            --paper-badge-margin-left: 25px;
            --paper-badge-margin-right: 60px;
        }
        .content{
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        paper-item[disabled]{
            opacity: 1;
            color: black;
        }
        .red{
            float: right;s
            @apply(--paper-font-common-base);
            background-color: var(--paper-red-500);
        }
        .green{
            background-color: var(--paper-blue-500);
        }
        
    </style>
    
    <template>
        <div id='main'>
            <paper-toolbar id="menu">
                <paper-icon-button id="expand" icon="expand-more" on-tap="expandMenu"></paper-icon-button>
                <paper-badge id='not' for="expand" label="{{notifications.length}}"> </paper-badge>
                <paper-button class="red" on-click="logout">LOGOFF</paper-button>
            </paper-toolbar>
            <iron-collapse id="roles" class="purple" style="width:100%; height: 20%;">
                <div class="purple">
                    <paper-badge for="mods" label="Modules" class='purp' > </paper-badge>
                    <paper-icon-button title="Modules" id='mods' icon="apps" class="button" style="width: 100px; height: 100px; float: left;" ></paper-icon-button>
                    <paper-card id='notCard' style="height: 9%;">
                        <div class="card-content">
                            <template is="dom-repeat" items="{{notifications}}">
                                
                                <paper-card  class="green" style="height: 70%; width: 20%;">
                                    <div class="card-content"  class="content">
                                        <paper-item style="float: left; word-wrap: break-word;" on-click='removeNotification'>{{item}}</paper-item>
                                    </div>
                                </paper-card>
                            </template>
                        </div>
                    </paper-card>
                    <br><br>
                </div>
            </iron-collapse>
        </div>
        
    </template>
    
    <script>
        Polymer({
            is: "user-menu",
            
            properties:{
                notifications: Array
            },
            
            logout: function(){
                console.log('logging out')
                this.fire('log-out');
            },
            
            ready: function(){
              this.notifications = ['Lorem ipsum dolor sit ametitae tincidunt accumsan, massa odio semper ex, tempus m, quis dictum tortor est nec leo. Nam posue', 'etc'];  
            },
            
            removeNotification: function(e){
                var idx = e.model.index;
                this.notifications.splice(idx, 1);
                var temp = this.notifications.slice(0);
                this.notifications = temp;
                
                if(this.notifications.length == 0){
                    document.getElementById('not').style.display = 'none';
                    document.getElementById('notCard').style.display = 'none';
                }
            },
            
            expandMenu: function() {
                 var roles = document.getElementById('roles');
                var iconButton = Polymer.dom(event).localTarget;
                iconButton.icon = roles.opened ? 'expand-more'
                                          : 'expand-less';
                roles.toggle();

            }
        })
    </script>
    
</dom-module>