<script src="../../bower_components/webcomponentsjs/webcomponentsjs-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="module-launcher">
    
    <style>
        #container {
            height:200px;
            width:200px;
            position:relative;
        }
        
        #image {
            z-index: 1;
            position:absolute;
            width: 200px;
            height: 200px;
            left: 0px;
            top: 0px;
        }
        
        #title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            z-index: 100;
            position: absolute;
            width: 200px;
            height: 40px;
            left: 0px;
            top: 0px;
            background: rgb(146, 146, 146);
            background: rgba(146, 146, 146, .9);
            margin: 0px
        }
        
        #desc {
            z-index:100;
            position:absolute;
            left:0px;
            top:40px;
            width: 200px;
            height: 160px;
            background: rgb(146, 146, 146);
            background: rgba(146, 146, 146, .9);
            margin: 0px;
            
            /*stuff to wrap and add ellipsis*/
            display: block;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    
    <template>
        <div id="container" on-mouseover="hoverOn" on-mouseout="hoverOff" on-click="clickAction">
            <iron-image id="image" src="{{imgSrc}}" sizing="contain"></iron-image>
            <h1 id="title" hidden>{{pageName}}</h1>
            <p id="desc" hidden>{{pageDesc}}</p>
        </div>
        <iron-ajax
            auto
            url="getPageInfo.php"
            params="{{ajaxParams}}"
            handle-as="json"
            on-response="updatePageInfo"
            last-response="{{ajaxPageInfo}}"></iron-ajax>
    </template>
    
    
    <script>
        Polymer({
           is: "module-launcher",
           
           properties: {
               pageId: String,
               back: Boolean,
               pageName: String,
               pageDesc: String,
               pageURL: String,
               tileImg: String,
               ajaxParams: {
                   type: Object,
                   computed: "getParams(pageId)"
               },
               imgSrc: {
                   type: String,
                   computed: "getImgSrc(pageURL, tileImg)"
               }
           },
           
           getParams: function(page) {
                return {
                    pageId: page
                };
           },
           
           hoverOn: function() {
               this.$.title.hidden = false;
               this.$.desc.hidden = false;
           },
           
           hoverOff: function() {
              this.$.title.hidden = true;
              this.$.desc.hidden = true;
           },
           
           clickAction: function(){
               if (this.back) {
                   this.fire('back-page-click');
               } else {
                   this.fire('page-click', {pageURL: this.pageURL});
               }
           },
           
           updatePageInfo: function(){
               if (this.pageId != null && this.ajaxPageInfo != null) {
                   this.pageName = this.ajaxPageInfo['pageName'];
                   this.pageDesc = this.ajaxPageInfo['pageDesc'];
                   this.pageURL = this.ajaxPageInfo['pageURL'];
                   this.tileImg = this.ajaxPageInfo['tileImg'];
               } else if (!this.back) {
                   this.pageName = "Missing";
                   this.pageDesc = "This should not happen.  Contact the webmaster.";
               } else {
                   this.pageName = "BACK";
                   this.pageDesc = "Click this tile to go back to the group selection screen.";
               }
           },
           
           getImgSrc: function(pageURL, tileImg) {
               //strips module name from pageURL
               //Note that the '/' is added on purpose to account for pageURL=''
               return pageURL.substring(0, pageURL.lastIndexOf('/')) + '/' + tileImg;
           }
        });
    </script>
</dom-module>