<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../page-tile/page-tile.html">

<dom-module id="main-page-pages">
    <style>
        div {
            width: 100%;
            margin: 5px;
        }
    </style>
    
    <template>
        
        <iron-ajax
            auto
            url="getPagesByGroup.php"
            params='{{ajaxParams}}'
            handle-as="json"
            last-response="{{ajaxPageInfo}}"></iron-ajax>

        <div class="horizontal layout wrap">
            <page-tile back-page></page-tile>
            <template is="dom-repeat" items="{{ajaxPageInfo}}">
                <page-tile page-id="{{item.pageId}}"></page-tile>
            </template>
        </div>
    </template>
    
    <script>
        Polymer({
            is: "main-page-pages",
            
            behaviors: [
               Polymer.NeonSharedElementAnimatableBehavior
            ],
            
            properties: {
                groupId: String,
                ajaxParams: {
                    type: String,
                    computed: 'getParams(groupId)'
                },
                entryAnimation: {
                    value: 'slide-from-left-animation'
                },
                exitAnimation: {
                    value: 'slide-left-animation'
                }
            },
            
            getParams: function(group) {
                return {
                    groupId: group
                };
            }
        })
    </script>
</dom-module>